/* All styles for your Card Components live here */

.CardContainer{
    border: 1px solid rgb(180, 177, 177);
    width: 80% ;
    height: 430px;
    margin: 0 auto;
    margin-left: 11.5%;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.CardBanner img{
    width: 100%;
    border-radius: 5px  5px  0px  0px;
   
}

.CardContent h4, p, .cardfooter{
    margin-left: 10px;
    
}

.CardContent .cardfooter{
    color: gray;
}

