/* All styles for your header Components live here */
.HeaderContainerp{
    width: 100%;
    /* height: 100px;  */
    /* border: solid blue 1px; */
    display: flex;
    justify-content: flex-start;
}

.ImageThumbnail {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid red;
    background-color:white;
    padding : 15px;
    border-radius: 100%;
    height: 40px;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.ImageThumbnail img{
height: 40px;
}

.HeaderContent{
    width: 85%;
    margin-top:0px;
    /* border: solid blue 1px; */
    
}

.HeaderContent p{
    margin-top: 10px;
}

.HeaderTitle h5, h4
{
display: inline-block;
margin-bottom: 0px;
margin-left: 10px;

}

.HeaderTitle h5{
    color:gray;
    padding-left: 5px;
}

